.Navbar {
  background: blueviolet;
}

.Navbar {
  height: 50px;
  width: 100%;
  background-color: #a1218c;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: -2px -2px 5px black, 2px 2px 5px blue;
  z-index: 10;
  position: sticky;
  top: 0;
}

.Navbar > .nav-header {
  display: inline;
  margin-left: 10rem;
  padding: 13px 10px 8px 10px;
  border-radius: 6px;
}

.Navbar > .nav-header > .nav-title > .nav-begin {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

.Navbar > .nav-header > .nav-title > .nav-begin:hover {
  color: black;
}

.Navbar > .nav-header:hover {
  background-color: #e299ff;
  border-radius: 6px;
  transition: 0.5s;
  padding: 13px 10px 8px 10px;
  transition: 0.5s;
}

.Navbar > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  padding: 10px 10px 10px 10px;
}

.Navbar > .nav-btn {
  display: none;
}

.Navbar > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  margin-right: 250px;
}

.Navbar > .nav-links > a {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  background: white;
  border-radius: 6px;
  padding: 13px 10px 11px 10px;
}

.Navbar > .nav-links > a:hover {
  background-color: #e299ff;
  color: black;
  border-radius: 6px;
  transition: 0.5s;
  padding: 13px 10px 11px 10px;
}

.Navbar > #nav-check {
  display: none;
}

@media (max-width: 1000px) {
  .Navbar > .nav-header {
    margin: 0 auto;
  }
  .Navbar > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .Navbar > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .Navbar > .nav-btn > label:hover,
  .Navbar #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .Navbar > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .Navbar > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(65, 149, 218, 0.562);
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    text-align: center;
  }
  .Navbar > .nav-links > a {
    display: block;
    border: none;
    width: 100%;
    border: 1px solid black;
  }
  .Navbar > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .Navbar > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
